.eventHorizontal {
    border: 1px solid rgb(149, 149, 149);
    /* box-shadow: 0px 0px 3px grey; */
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    /* margin-bottom: 20px; */
}

.eventImage {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px;
    width: 150px;
}

.eventContent {
    align-self: flex-start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 170px);
    padding: 3px;
}

.firstRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.eventProfileSection {
    display: flex;
    align-items: center;
}

.eventProfileSection p {
    color: dodgerblue;
    font-weight: 700;
    margin-left: 10px;
    font-size: 12px;
}

.eventTimePosted p {
    color: grey;
    font-style: italic;
    font-size: 11px;
}

.anonimity {
    font-weight: 700;
    color: dodgerblue;
    font-size: 11px;
    align-self: flex-start;
}

.invite {
    color: darkblue;
}

.eventTitle {
    margin: 0;
    margin: 20px 0 20px 30px;
    font-weight: 700;
    font-size: 1.3rem;
}

.eventTitle:hover {
    cursor: pointer;
    color: dodgerblue;
}

.thirdRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    color: dodgerblue;
    font-size: 11px;
    font-weight: 400;
    padding: 0 10px;
    margin-bottom: 10px;
}

.eventPlace {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    font-style: italic;
}

.fourthRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourthRow p {
    width: 70%;
    font-weight: 500;
    font-size: 12px;
}

.timeUntil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    align-self: flex-end;
    color: grey;
}

.timeUntil p {
    margin-left: 5px;
    font-size: 10px;
    font-weight: 700;
}

.category {
    font-size: 11px;
    font-weight: 600;
}


