.loginHeader {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 50px;
    color: white;
    background-color: #7C05F2;
    border-radius: 15px;
    border: 2px solid rgb(203, 58, 255);
}

@media only screen and (max-width: 900px) {
    .loginHeader {
        width: 200px;
        height: 40px;
        font-size: 8px;
    }
}