.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    color: rgba(30, 143, 255, 0.42) !important;
}

.css-1ptx2yq-MuiInputBase-root-MuiInput-root:before, .css-a3l6o-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
    border-bottom: 1px solid rgba(30, 143, 255, 0.42) !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon, 
.css-1mf6u8l-MuiSvgIcon-root-MuiSelect-icon {
    color: darkblue !important;
}

.formAndTitle {
    width: fit-content;
}

.createEvent {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-style: italic;
    color:rgba(30, 143, 255, 0.42) !important;
}

.formPostBtn {
    padding: 3px 25px;
    width: fit-content;
    border-radius: 7px;
    border: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-style: italic;
    border: 0.5px solid grey;
    margin-top: 15px;
    align-self: flex-end;
    font-weight: 400;
}

.formPostBtn:hover {
    cursor: pointer;
    background-color: rgb(100, 165, 255);
}

/* .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
    border: 1px solid darkblue;
} */

.formAndTitle h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 50px;
}

.formAndTitle h1 span {
    color: rgb(215, 19, 107);
}

.datePickerForm {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea::placeholder {
    color: dodgerblue !important;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}