.profilePageContainer {
    width: 75%;
    align-self: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
}

.profileInfoContainer {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.profilna {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid purple;
}

.profileInfo {
    margin-inline: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topPartProfile {
    display: flex;
}

.followInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.followCount {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    color: darkblue;
    height: 40px;
    font-size: 15px;
}

.editProfileButton {
    align-self: flex-start;
    background-color: white;
    border: 1px solid darkblue;
    padding: 3px 10px;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.editProfileButton:hover {
    background-color: darkblue;
    color: white;
}

@media only screen and (max-width: 800px) {
    .profilePageContainer {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .profilePageContainer {
        width: 95%;
    }

    .profileInfoContainer {
        flex-direction: column;
        align-self: center;
    }

    .topPartProfile {
        flex-direction: column;
    }

    .profileInfo {
        align-self: center;
        width: 100%;
        margin-inline: 0;
        padding-left: 0;
    }

    .editProfileButton {
        width: 150px;
        align-self: center;
    }

    .followInfo {
        margin-top: 15px;
        justify-content: space-around;
    }

    .profilna {
        margin-inline: auto;
    }
}