.homepageContainer {
    /* margin-top: 1rem; */
    align-self: center;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeHeroSection {
    width: calc(100vw - 1rem);
    /* height: 768px; */
    height: calc(100vh - 2rem);
    background-image: url(../../assets/heroPicture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

.homeHeroSection > h1 {
    line-height: 50px;
    text-align: center;
}

.homeHeroSection > h1 > span {
    position: relative;
    top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.homeHeroSectionSearchBox {
    width: 35%;
    margin-left: 12rem;
    background: rgba(161, 161, 161, 0.511);
    border-radius: 30px;
    border: none;
    padding: 20px 30px;
    margin-top: 200px;
    color: white;
    font-size: 20px;
    box-shadow:  5px 5px 10px #cccccc,
                -5px -5px 10px #ffffff;
}

/* The fast way */
.homeHeroSectionSearchBox {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/* Pre-render the bigger shadow, but hide it */
.homeHeroSectionSearchBox::after {
    box-shadow: 0 5px 15px white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.homeHeroSectionSearchBox:hover::after {
    opacity: 1;
}



.homeHeroSectionSearchBox::placeholder {
    font-style: italic;
    font-size: 20px;
    color: white;
    text-align: right;
}

.homeHeroSectionSearchBox:focus {
    outline: none;
}

.intro {
    margin-top: 150px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 25px;
}

.intro > h2 {
    margin-left: 70px;
    margin-bottom: 50px;
}

.roze {
    color: rgb(255, 66, 164);
}

.intro > img {
    width: 100%;
}

.explainedProcess {
    margin-top: 150px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 25px;
}

.precrtano {
    text-decoration: line-through;
}

.lila {
    color: #7C05F2;
}

.explainedProcessContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.explainedProcessItem > img {
    width: 100%;
}

.explainedProcessItem {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    border-radius: 0px;
    background: #f0f0f0;
    box-shadow:  5px 5px 10px #cccccc,
                -5px -5px 10px #ffffff;
}

.explainedProcessItem > .explainedProcessItemText > h3 {
    color: dodgerblue;
    font-weight: 300;
    font-size: 20px;
}

.explainedProcessItem > .explainedProcessItemText > p {
    font-size: 15px;
}

.explainedProcessItemText {
    padding: 20px;
}

.quote {
    margin: 120px 0;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 35px;
    line-height: 50px;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
}

#writer {
    align-self: flex-end;
    position: relative;
    left: 50px;
}

h2 {
    line-height: 50px;
}

@media only screen and (max-width: 600px) {
    .homepageContainer {
        width: 85%;
    }

    .quote {
        font-size: 25px;
        line-height: 40px;
    }

    #writer {
        left: 20px;
    }

    .explainedProcess > h2 {
        font-size: 30px;
        text-align: center;
    }

    .intro > h2 {
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-bottom: 20px;
    }

    .explainedProcess {
        margin-top: 50px;
    }

    .explainedProcessContainer {
        margin-top: 20px;
    }

    .homeHeroSection > h1 {
        line-height: 20px;
        font-size: 35px;
        text-align: center;
    }

    .homeHeroSection > h1 > span {
        top: 70px;
    }
}

@media only screen and (max-width: 400px) {
    .homepageContainer {
        width: 100%;
    }

    .homeHeroSection {
        width: 100%;
    }

    .quote {
        font-size: 15px;
        line-height: 30px;
    }

    #writer {
        left: 10px;
    }

    .homeHeroSection > h1 {
        font-size: 25px;
    }

    .homeHeroSection > h1 > span {
        top: 40px;
    }
}
